
@use '../../styles/partials/_fonts.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;
@use '../../styles/partials/_variables.scss' as *;
footer{
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
    .footer_rights{
        @include body-small;
        color: $secondary-dark;
    }
}