@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}